<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AgendaBD"
			 connectionString="Server=10.0.0.108,1433;Database=AgendaDB;User Id=AgendaUser;Password=Agenda123!;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
	</startup>
</configuration>